bench/build/*
bench/bower_components
bench/cases/bower_components
bench/cases/reserve
bench/cases/active
build/*
node_modules/*
tmp/*
test/codetotest.js
lib/*.so
esprima/
archive
*.out
tools/compression/cmpR_out
tools/compression/cmpR_tmp
*.gch
*.o